<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sckftr.android.securephoto">

    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.SP.Base"
        android:name=".Application_">

        <activity
            android:name=".activity.StartActivity_"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SP.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/Theme.SP" />

        <activity
            android:name=".activity.DetailActivity_"
            android:theme="@style/Theme.SP.Detail" />

        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/Theme.SP.Settings"
            android:label="@string/label_settings"
            android:parentActivityName="com.sckftr.android.securephoto.activity.MainActivity_">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sckftr.android.securephoto.activity.MainActivity_" />
        </activity>


        <service android:name=".data.DataApi$DataAsyncEnforcerService" />

        <service android:name=".db.DbService" />

        <provider
            android:name=".provider.ImagesProvider"
            android:authorities="com.sckftr.android.securephoto.provider.ImagesProvider"
            android:exported="false" />

    </application>

</manifest>
